.left_drawer_container{
    background-color: white;
    /* height: 87vh; */
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Avatar image */
.avatar_image_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6%;
}
.avatar_image_div img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    border: 1px solid #9FA7BE;

}

/* Drawer ul navigation tools */
.left_drawer_ul{
    padding: 0;

}

.left_drawer_ul li{
    list-style: none;
    margin: 0.5%;
    text-align: center;
    position: relative;

}

.left_drawer_ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 3%;
    transition: all .1s ease-out;
    font-size: 16px;
}





.myImageAnchor{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.copyrightSection {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 6%;
    padding-bottom: 6%;
}

