  .Heading{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
  
    
  }

  .Heading h3{
    align-self: flex-end;
  }

  .Heading select{
    align-self: flex-end;
  }

  .productCardsCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-color: #FAFAFA;
  }

  .products{
    width: 20em;
    margin: 1%;
    padding: 1%;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    min-height: 55vh;
    position: relative;
  }

  .products img{
    width: 100%;
    border-radius: 0.5em;
    height: 300px;
  }
  .productTitle{
    cursor: pointer;
  }

  .priceAndDiscount{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .priceAndDiscount p{
    margin: 0;
  }

  .priceAndDiscount span{
    background: yellow;
    padding: 1%;
    width: 3em;
    text-align: center;
  }

  .addTocart button{
    background: yellow;
    border-radius: 5em;
    text-transform: inherit;
  }

  .addTocart button:hover{
    background-color: yellow;
  }

  

  .addTocart{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
    border-radius: 3em;

  }

  .products:hover .addTocart{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 1;
    transition: 0.3s;
    opacity: 1;
    
  }