.chosenProductDetails{
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}
.chosenProdInner{
    width: 70%;
}

.chosenProduct{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 1em;
}

.orderSummary{
    width: 30%;
    background: #fff;
    margin-left: 2em;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid #ddd;
}

.chosenProduct img{
    width: 5em;
    height: 5em;
}

.chosenProduct .column{
    width: 30em;
}

.quantityPlusMinusDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quantityPlusMinusDiv .title{
    margin-right: 1em;
}
.prodPlusMinus{
    border: 1px solid #ddd;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.prodPlusMinus span{
    cursor: pointer;
}

.promoCode input{
    border-radius: 0.3em;
    border: 1px solid #ddd;
    padding: 0.3em;
}
.promoCode button{
    border-radius: 0.3em;
    background-color: #ddd;
    padding: 0.3em;
}

.termsAndConditions{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 2em 0;
}

.termsAndConditions button{
    background-color: yellow;
    border: 1px solid #ddd;
    padding: 0.3em;
    border-radius: 0.3em;
    margin-left: 1em;
    width: 10em;
}

.termsAndConditions span{
    margin-left: 1em;
}

.confirmationModal{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationModalInner{
    background-color: #fff;
    padding: 2em;
    border-radius: 1em;
}

.btnAdmin{
    background-color: yellow;
    border-radius: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
}

.confirmationModalInner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirmationModalInner .tick{
    background-color: black;
    color: white;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
