.resumeContainer{
    background-color: #10121B;;
    width: 80%;
    margin-left: 20%;
    min-height: 100vh;
    padding: 5%;
}
/* ----skill section---- */
.skillHeadingCont{
    width: 45%;
}
.mySkillsHeading{
    color: #ffffff;
}
.skillDetails{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.skillDetails .skills{
    width: 45%;
    padding: 0.5% 0;
}
/* ----Work experience section---- */
.workExperienceSection{
    margin-top: 5%;
}
.workExperienceSection .workExperienceHeader{
    width: 45%;
    color: #ffffff;
}

.workDetailsCont{
    color:#a4acc4;
    border-left: 3px solid #2e344e;
}
.workDetailsInner{
    display: flex;
}
.workSummaryYear{
    padding-left: 30px;
    position: relative;
    width: 30%;
}

.workDetails{
    padding-left: 50px;
    width: 70%;
}
.workDetails .workPosition{
    color: #037fff;
}

.workSummaryYear:before{
    content: "";
    position: absolute;
    left: -9px;
    top: 6px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: #10121b;
    border: 3px solid #2e344e;
}

/* ----education experience section---- */
.educationExperienceSection{
    margin-top: 5%;
}
.educationExperienceSection .educationExperienceHeader{
    width: 45%;
    color: #ffffff;
}

.educationDetailsCont{
    color:#a4acc4;
    border-left: 3px solid #2e344e;
}
.educationDetailsInner{
    display: flex;
}
.educationSummaryYear{
    padding-left: 30px;
    position: relative;
    width: 30%;
}

.educationDetails{
    padding-left: 50px;
    width: 70%;
}
.educationDetails .educationPosition{
    color: #037fff;
}

.educationSummaryYear:before{
    content: "";
    position: absolute;
    left: -9px;
    top: 6px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    background: #10121b;
    border: 3px solid #2e344e;
}

