.ProductDetailsCont{
    width: 80%;
    margin-left: 20%;
    min-height: 100vh;
    background-color: #10121B;
    color: white;
}

.descriptionInner{
    padding: 3%;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
}

.descriptionInner h3{
    margin-top: 2%;
}
.descriptionInner .descriptions{
    width: 80%;
}
.descriptionInner .descriptions img{
    width: 100%;
}
.AddToCartDesc{
    width: 20%;
}

.imgNDetails{
    width: 60%;
}
.imgNDetails{
    display: flex;
    width: 100%;
    /* flex-flow: wrap; */
}
.priceNDetails{
    width: 40%;
    padding: 3%;
}